/* .search-by-char-header{
    font-weight:bolder;
    font-size: 2.5rem;
    margin-top:75px;
}

.search-by-char-sm-underline{
    font-weight:bolder;
    font-size:4rem;
    margin-top:-3rem;
} */

