  .pacific-islands-banner-search-container{
    position:relative;
    top:82px;
    left:10px;
  }
  
  .pacific-islands-banner-jumbotron{
    overflow-x:hidden;
  }
  
  .pacific-islands-banner-jumbo-h1 {
    font-size: 4rem;
  
  }
  
  .pacific-islands-banner-container {
    height: 366px;
    overflow: hidden;
    position:relative;
    left:124px;
  }
  
  .pacific-islands-banner-image-container {
    overflow: hidden;
    background: url("/images/home_palm.png");
    background-repeat: no-repeat;
    background-size: contain;
    position:relative;
    left:-134px;
  }

  .pacific-islands-banner-title{
    display:block;
  }